In [1]:
# 기업 정보
# DB : code / established_date / listed_date / CEO / settlement_date / tel
# DB : 코드 / 설립일 / 상장일 / CEO / 결산월 / 전화번호
# API : / enpEstbDt / enpXchgLstgDt / enpRprFnm / enpStacMm / enpTlno

In [29]:
api_key_list={}

with open('api_key.txt', 'r') as file:
    api_keys = file.readlines()
    for api_key in api_keys:
        key, value = api_key.rstrip().split(':')
        api_key_list[key] = value
        # print(key, value)

crtfc_key = api_key_list['crtfc_key']
serviceKey = api_key_list['serviceKey']

In [30]:
# 샘플 코드
import requests

serviceKey = serviceKey

url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline'
params ={'serviceKey' : serviceKey, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'json', 'basDt' : '20200509', 'crno' : '1101113892240', 'corpNm' : '메리츠자산운용' }

response = requests.get(url, params=params)
print(response.content)

b'{"response":{"body":{"items":{"item":[{"basDt":"20200509","crno":"1101113892240","corpNm":"\xeb\xa9\x94\xeb\xa6\xac\xec\xb8\xa0\xec\x9e\x90\xec\x82\xb0\xec\x9a\xb4\xec\x9a\xa9","corpEnsnNm":"Meritz Asset Management","enpPbanCmpyNm":"\xeb\xa9\x94\xeb\xa6\xac\xec\xb8\xa0\xec\x9e\x90\xec\x82\xb0\xec\x9a\xb4\xec\x9a\xa9","enpRprFnm":"John Lee(\xec\x9d\xb4\xec\xa0\x95\xeb\xb3\xb5)","corpRegMrktDcd":"E","corpRegMrktDcdNm":"\xea\xb8\xb0\xed\x83\x80","corpDcd":"","corpDcdNm":"","bzno":"1078708658","enpOzpno":"03051","enpBsadr":"\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c \xec\xa2\x85\xeb\xa1\x9c\xea\xb5\xac \xeb\xb6\x81\xec\xb4\x8c\xeb\xa1\x9c 104 \xea\xb3\x84\xeb\x8f\x99\xeb\xb9\x8c\xeb\x94\xa9","enpDtadr":"\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c \xec\xa2\x85\xeb\xa1\x9c\xea\xb5\xac \xeb\xb6\x81\xec\xb4\x8c\xeb\xa1\x9c 104 \xea\xb3\x84\xeb\x8f\x99\xeb\xb9\x8c\xeb\x94\xa9","enpHmpgUrl":"","enpTlno":"02-6320-3000","enpFxno":"02-6320-3009","sicNm":"64201","enpEstbDt":"20080506","enpStacMm":"12","enpXchgLstgDt":"","enpXchgLstgAbolDt":"","enpKosdaqLstgDt":"","enpKosdaqLstgAbolDt":"","enpKrxLstgDt":"","enpKrxLstgAbolDt":"","smenpYn":"","enpMntrBnkNm":"","enpEmpeCnt":"0","empeAvgCnwkTermCtt":"","enpPn1AvgSlryAmt":"0","actnAudpnNm":"","audtRptOpnnCtt":"","enpMainBizNm":"","fssCorpUnqNo":"00685935","fssCorpChgDtm":"2020/03/23"}]},"numOfRows":10,"pageNo":1,"totalCount":1},"header":{"resultCode":"00","resultMsg":"NORMAL SERVICE."}}}'

In [3]:
# 하이닉스
import requests

serviceKey = serviceKey

url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline'
params ={'serviceKey' : serviceKey, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'json', 'basDt' : '20221225', 'crno' : '1344110001387', 'corpNm' : '에스케이하이닉스' }

response = requests.get(url, params=params)
print(response.content)

b'{"response":{"body":{"items":{"item":[{"basDt":"20221225","crno":"1344110001387","corpNm":"\xec\x97\x90\xec\x8a\xa4\xec\xbc\x80\xec\x9d\xb4\xed\x95\x98\xec\x9d\xb4\xeb\x8b\x89\xec\x8a\xa4(\xec\xa3\xbc)","corpEnsnNm":"SK hynix Inc.","enpPbanCmpyNm":"SK\xed\x95\x98\xec\x9d\xb4\xeb\x8b\x89\xec\x8a\xa4","enpRprFnm":"\xeb\xb0\x95\xec\xa0\x95\xed\x98\xb8, \xea\xb3\xbd\xeb\x85\xb8\xec\xa0\x95 (\xea\xb0\x81\xec\x9e\x90\xeb\x8c\x80\xed\x91\x9c)","corpRegMrktDcd":"P","corpRegMrktDcdNm":"\xec\x9c\xa0\xea\xb0\x80","corpDcd":"","corpDcdNm":"","bzno":"1268103725","enpOzpno":"17336","enpBsadr":"\xea\xb2\xbd\xea\xb8\xb0\xeb\x8f\x84 \xec\x9d\xb4\xec\xb2\x9c\xec\x8b\x9c  \xeb\xb6\x80\xeb\xb0\x9c\xec\x9d\x8d \xea\xb2\xbd\xec\xb6\xa9\xeb\x8c\x80\xeb\xa1\x9c 2091","enpDtadr":"\xea\xb2\xbd\xea\xb8\xb0\xeb\x8f\x84 \xec\x9d\xb4\xec\xb2\x9c\xec\x8b\x9c  \xeb\xb6\x80\xeb\xb0\x9c\xec\x9d\x8d \xea\xb2\xbd\xec\xb6\xa9\xeb\x8c\x80\xeb\xa1\x9c 2091","enpHmpgUrl":"www.skhynix.com","enpTlno":"031-630-4114","enpFxno":"031-645-8078","sicNm":"2612","enpEstbDt":"19491015","enpStacMm":"12","enpXchgLstgDt":"96/12/26","enpXchgLstgAbolDt":"","enpKosdaqLstgDt":"","enpKosdaqLstgAbolDt":"","enpKrxLstgDt":"","enpKrxLstgAbolDt":"","smenpYn":"","enpMntrBnkNm":"","enpEmpeCnt":"30135","empeAvgCnwkTermCtt":"11.70","enpPn1AvgSlryAmt":"115198000","actnAudpnNm":"\xec\x82\xbc\xec\x9d\xbc\xed\x9a\x8c\xea\xb3\x84\xeb\xb2\x95\xec\x9d\xb8","audtRptOpnnCtt":"\xec\xa0\x81\xec\xa0\x95\xec\x9d\x98\xea\xb2\xac","enpMainBizNm":"","fssCorpUnqNo":"00164779","fssCorpChgDtm":"2022/12/13"}]},"numOfRows":10,"pageNo":1,"totalCount":1},"header":{"resultCode":"00","resultMsg":"NORMAL SERVICE."}}}'

In [4]:
# 네이버
import requests

serviceKey = serviceKey

url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline'
params ={'serviceKey' : serviceKey, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'json', 'basDt' : '20221225', 'crno' : '1101111707178', 'corpNm' : '네이버' }

response = requests.get(url, params=params)
print(response.content)

b'{"response":{"body":{"items":{"item":[{"basDt":"20221225","crno":"1101111707178","corpNm":"\xeb\x84\xa4\xec\x9d\xb4\xeb\xb2\x84(\xec\xa3\xbc)","corpEnsnNm":"NAVER Corporation","enpPbanCmpyNm":"NAVER","enpRprFnm":"\xec\xb5\x9c\xec\x88\x98\xec\x97\xb0","corpRegMrktDcd":"P","corpRegMrktDcdNm":"\xec\x9c\xa0\xea\xb0\x80","corpDcd":"","corpDcdNm":"","bzno":"2208162517","enpOzpno":"13561","enpBsadr":"\xea\xb2\xbd\xea\xb8\xb0\xeb\x8f\x84 \xec\x84\xb1\xeb\x82\xa8\xec\x8b\x9c \xeb\xb6\x84\xeb\x8b\xb9\xea\xb5\xac \xec\xa0\x95\xec\x9e\x90\xec\x9d\xbc\xeb\xa1\x9c 95 1784","enpDtadr":"\xea\xb2\xbd\xea\xb8\xb0\xeb\x8f\x84 \xec\x84\xb1\xeb\x82\xa8\xec\x8b\x9c \xeb\xb6\x84\xeb\x8b\xb9\xea\xb5\xac \xec\xa0\x95\xec\x9e\x90\xec\x9d\xbc\xeb\xa1\x9c 95 1784","enpHmpgUrl":"www.navercorp.com","enpTlno":"1588-3830","enpFxno":"031-784-4175","sicNm":"63120","enpEstbDt":"19990602","enpStacMm":"12","enpXchgLstgDt":"08/11/28","enpXchgLstgAbolDt":"","enpKosdaqLstgDt":"","enpKosdaqLstgAbolDt":"","enpKrxLstgDt":"","enpKrxLstgAbolDt":"","smenpYn":"","enpMntrBnkNm":"","enpEmpeCnt":"4678","empeAvgCnwkTermCtt":"5.67","enpPn1AvgSlryAmt":"129150000","actnAudpnNm":"\xec\x82\xbc\xec\x9d\xbc\xed\x9a\x8c\xea\xb3\x84\xeb\xb2\x95\xec\x9d\xb8","audtRptOpnnCtt":"\xec\xa0\x81\xec\xa0\x95\xec\x9d\x98\xea\xb2\xac","enpMainBizNm":"","fssCorpUnqNo":"00266961","fssCorpChgDtm":"2022/07/28"}]},"numOfRows":10,"pageNo":1,"totalCount":1},"header":{"resultCode":"00","resultMsg":"NORMAL SERVICE."}}}'

In [5]:
# LG에너지솔루션
import requests

serviceKey = serviceKey

url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline'
params ={'serviceKey' : serviceKey, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'json', 'basDt' : '20221225', 'crno' : '1101117701356', 'corpNm' : '엘지에너지솔루션' }

response = requests.get(url, params=params)
print(response.content)

b'{"response":{"body":{"items":{"item":[{"basDt":"20221225","crno":"1101117701356","corpNm":"(\xec\xa3\xbc)\xec\x97\x98\xec\xa7\x80\xec\x97\x90\xeb\x84\x88\xec\xa7\x80\xec\x86\x94\xeb\xa3\xa8\xec\x85\x98","corpEnsnNm":"LG ENERGY SOLUTION, LTD.","enpPbanCmpyNm":"LG\xec\x97\x90\xeb\x84\x88\xec\xa7\x80\xec\x86\x94\xeb\xa3\xa8\xec\x85\x98","enpRprFnm":"\xea\xb6\x8c\xec\x98\x81\xec\x88\x98","corpRegMrktDcd":"Q","corpRegMrktDcdNm":"\xec\x9c\xa0\xea\xb0\x80","corpDcd":"","corpDcdNm":"","bzno":"8518102050","enpOzpno":"07335","enpBsadr":"\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c \xec\x98\x81\xeb\x93\xb1\xed\x8f\xac\xea\xb5\xac \xec\x97\xac\xec\x9d\x98\xeb\x8c\x80\xeb\xa1\x9c 108, \xed\x83\x80\xec\x9b\x8c 1","enpDtadr":"\xec\x84\x9c\xec\x9a\xb8\xed\x8a\xb9\xeb\xb3\x84\xec\x8b\x9c \xec\x98\x81\xeb\x93\xb1\xed\x8f\xac\xea\xb5\xac \xec\x97\xac\xec\x9d\x98\xeb\x8c\x80\xeb\xa1\x9c 108, \xed\x83\x80\xec\x9b\x8c 1","enpHmpgUrl":"www.lgensol.com","enpTlno":"02-3777-1114","enpFxno":"","sicNm":"28202","enpEstbDt":"20201201","enpStacMm":"12","enpXchgLstgDt":"22/01/27","enpXchgLstgAbolDt":"","enpKosdaqLstgDt":"","enpKosdaqLstgAbolDt":"","enpKrxLstgDt":"","enpKrxLstgAbolDt":"","smenpYn":"","enpMntrBnkNm":"","enpEmpeCnt":"9564","empeAvgCnwkTermCtt":"7\xeb\x85\x84 3\xea\xb0\x9c\xec\x9b\x94","enpPn1AvgSlryAmt":"90000000","actnAudpnNm":"\xed\x95\x9c\xec\x98\x81\xed\x9a\x8c\xea\xb3\x84\xeb\xb2\x95\xec\x9d\xb8","audtRptOpnnCtt":"\xec\xa0\x81\xec\xa0\x95\xec\x9d\x98\xea\xb2\xac","enpMainBizNm":"","fssCorpUnqNo":"01515323","fssCorpChgDtm":"2022/05/17"}]},"numOfRows":10,"pageNo":1,"totalCount":1},"header":{"resultCode":"00","resultMsg":"NORMAL SERVICE."}}}'

In [6]:
import pandas as pd
import requests

test = pd.read_xml('CORPCODE.xml')
test

       corp_code          corp_name  stock_code  modify_date
0         434003                 다코         NaN     20170630
1         434456               일산약품         NaN     20170630
2         430964              굿앤엘에스         NaN     20170630
3         432403               한라판지         NaN     20170630
4         388953  크레디피아제이십오차유동화전문회사         NaN     20170630
...          ...                ...         ...          ...
96965     151571               청림실업         NaN     20221114
96966    1143889           에이치엠지하우징         NaN     20221114
96967    1359578          성남대장피에프브이         NaN     20221114
96968    1002944            스마트에프앤디         NaN     20221114
96969    1143737           에이치엠지글로벌         NaN     20221114

[96970 rows x 4 columns]

In [7]:
# 005380 현대차 / 035420 NAVER / 068270 셀트리온 / 005930 삼성전자 / 000270 기아 / 
# 373220 LG에너지솔루션 / 207940 삼성바이오로직스 / 000660 SK하이닉스 / 006400 삼성SDI / 051910 LG화학
kospi_list = ["005380","035420","068270","005930","000270","373220","207940","000660","006400","051910"]

In [8]:
name_list = []

for i in kospi_list:
    temp = test.loc[test['stock_code']==int(i)]
    code = temp['corp_code'].values[0]
    company = temp['corp_name'].values[0]
    print(company,f'{code:08d}')
    crtfc_key = crtfc_key # dart api key
    corp_code = f'{code:08d}'
    url = 'https://opendart.fss.or.kr/api/company.json?crtfc_key='+crtfc_key+'&corp_code=' + corp_code
    result=requests.get(url)
    print(result.json()['jurir_no'],'\n')

    name = {'stock_code':str(f'{int(i):06d}'), 'name':company, 'crno':result.json()['jurir_no']} # 'code':code, 

    name_list.append(name)

name_df = pd.DataFrame(name_list)
name_df

현대자동차 00164742
1101110085450

NAVER 00266961
1101111707178

셀트리온 00413046
1350110034038

삼성전자 00126380
1301110006246

기아 00106641
1101110037998

LG에너지솔루션 01515323
1101117701356

삼성바이오로직스 00877059
1201110566317

SK하이닉스 00164779
1344110001387

삼성SDI 00126362
1101110394174

LG화학 00356361
1101112207995

  stock_code      name           crno
0     005380     현대자동차  1101110085450
1     035420     NAVER  1101111707178
2     068270      셀트리온  1350110034038
3     005930      삼성전자  1301110006246
4     000270        기아  1101110037998
5     373220  LG에너지솔루션  1101117701356
6     207940  삼성바이오로직스  1201110566317
7     000660    SK하이닉스  1344110001387
8     006400     삼성SDI  1101110394174
9     051910      LG화학  1101112207995

In [9]:
name_df.to_csv('stock_code.csv', index=False)

In [10]:
corporate_code_list=[]
company_list=[]

for i in kospi_list:
    temp = test.loc[test['stock_code']==int(i)]
    code = temp['corp_code'].values[0]
    company = temp['corp_name'].values[0]
    # print(company,f'{code:08d}')
    crtfc_key = crtfc_key # dart api key
    corp_code = f'{code:08d}'
    url = 'https://opendart.fss.or.kr/api/company.json?crtfc_key='+crtfc_key+'&corp_code=' + corp_code
    result=requests.get(url)
    company_list.append(company)
    corporate_code = result.json()['jurir_no']
    corporate_code_list.append(corporate_code)

In [11]:
# 원래대로 검색하면 안떠서 따로 추가
company_list.append('에스케이하이닉스')
company_list.append('네이버')
company_list.append('엘지에너지솔루션')

In [12]:
corporate_code_list

['1101110085450',
 '1101111707178',
 '1350110034038',
 '1301110006246',
 '1101110037998',
 '1101117701356',
 '1201110566317',
 '1344110001387',
 '1101110394174',
 '1101112207995']

In [13]:
import requests
import json

serviceKey = serviceKey
# 20120101 / 20221226

# 기업 정보
# DB : code / established_date / listed_date / CEO / settlement_date / tel
# DB : 코드 / 설립일 / 상장일 / CEO / 결산월 / 전화번호
# API : (stock_code) / enpEstbDt / enpXchgLstgDt / enpRprFnm / enpStacMm / enpTlno

for crno in corporate_code_list:
    for company in company_list:
        try: 
            url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline'
            params ={'serviceKey' : serviceKey, 'pageNo' : '1', 'numOfRows' : '5', 'resultType' : 'json', 'basDt' : '20221226', 'crno' : crno, 'corpNm' : company}

            response = requests.get(url, params=params)
            contents = response.text
            # print(contents)

            json_ob = json.loads(contents)
            # print(json_ob)
            # print(type(json_ob)) #json타입 확인

            body = json_ob['response']['body']['items']['item']
            # print(body)

            df = pd.json_normalize(body)
            df = df[['enpEstbDt', 'enpXchgLstgDt', 'enpRprFnm', 'enpStacMm', 'enpTlno', 'crno']]
            # print(df)

            df.to_csv('df_test_info.csv', mode='a') # mode='a' : 누적 

        except:
            pass

In [14]:
df_edit = pd.read_csv('df_test_info.csv')
df_edit

,Unnamed: 0,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
0,0.0,19671229,74/06/28,"정의선, 장재훈, 이동석(각자 대표이사)",12,02-3464-1114,1101110085450
1,NaN,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
2,0.0,19990602,08/11/28,최수연,12,1588-3830,1101111707178
3,NaN,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
4,0.0,19910227,18/02/09,기우성,12,032-850-5000,1350110034038
5,NaN,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
6,0.0,19690113,75/06/11,"한종희, 경계현",12,031-200-1114,1301110006246
7,NaN,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
8,0.0,19441210,73/07/21,"송호성,최준영(각자 대표이사)",12,02-3464-1114,1101110037998
9,NaN,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
10,0.0,20201201,22/01/27,권영수,12,02-3777-1114,1101117701356
11,NaN,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
12,0.0,20110422,16/11/10,임존종보 (Rim John Chongbo),12,032-455-3114,1201110566317
13,NaN,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
14,0.0,19491015,96/12/26,"박정호, 곽노정 (각자대표)",12,031-630-4114,1344110001387
15,NaN,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
16,0.0,19700120,79/02/27,최윤호,12,031-8006-3100,1101110394174
17,NaN,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
18,0.0,20010401,01/04/25,신학철,12,02-3777-1114,1101112207995

In [15]:
df_edit = df_edit.dropna() # NaN값 있는 행 제거
df_edit

,Unnamed: 0,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
0,0.0,19671229,74/06/28,"정의선, 장재훈, 이동석(각자 대표이사)",12,02-3464-1114,1101110085450
2,0.0,19990602,08/11/28,최수연,12,1588-3830,1101111707178
4,0.0,19910227,18/02/09,기우성,12,032-850-5000,1350110034038
6,0.0,19690113,75/06/11,"한종희, 경계현",12,031-200-1114,1301110006246
8,0.0,19441210,73/07/21,"송호성,최준영(각자 대표이사)",12,02-3464-1114,1101110037998
10,0.0,20201201,22/01/27,권영수,12,02-3777-1114,1101117701356
12,0.0,20110422,16/11/10,임존종보 (Rim John Chongbo),12,032-455-3114,1201110566317
14,0.0,19491015,96/12/26,"박정호, 곽노정 (각자대표)",12,031-630-4114,1344110001387
16,0.0,19700120,79/02/27,최윤호,12,031-8006-3100,1101110394174
18,0.0,20010401,01/04/25,신학철,12,02-3777-1114,1101112207995

In [16]:
df_edit.drop('Unnamed: 0', axis=1, inplace=True)
df_edit

c:\Users\SUN\anaconda3\envs\sun\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
0,19671229,74/06/28,"정의선, 장재훈, 이동석(각자 대표이사)",12,02-3464-1114,1101110085450
2,19990602,08/11/28,최수연,12,1588-3830,1101111707178
4,19910227,18/02/09,기우성,12,032-850-5000,1350110034038
6,19690113,75/06/11,"한종희, 경계현",12,031-200-1114,1301110006246
8,19441210,73/07/21,"송호성,최준영(각자 대표이사)",12,02-3464-1114,1101110037998
10,20201201,22/01/27,권영수,12,02-3777-1114,1101117701356
12,20110422,16/11/10,임존종보 (Rim John Chongbo),12,032-455-3114,1201110566317
14,19491015,96/12/26,"박정호, 곽노정 (각자대표)",12,031-630-4114,1344110001387
16,19700120,79/02/27,최윤호,12,031-8006-3100,1101110394174
18,20010401,01/04/25,신학철,12,02-3777-1114,1101112207995

In [17]:
df_edit.to_csv('api_info.csv', index=False)

In [18]:
df1 = pd.read_csv('stock_code.csv', dtype=str) # 종목코드때문에 dtype=str 로 가져옴
df2 = pd.read_csv('api_info.csv', dtype=str)

In [19]:
df1

  stock_code      name           crno
0     005380     현대자동차  1101110085450
1     035420     NAVER  1101111707178
2     068270      셀트리온  1350110034038
3     005930      삼성전자  1301110006246
4     000270        기아  1101110037998
5     373220  LG에너지솔루션  1101117701356
6     207940  삼성바이오로직스  1201110566317
7     000660    SK하이닉스  1344110001387
8     006400     삼성SDI  1101110394174
9     051910      LG화학  1101112207995

In [20]:
df2

,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno,crno
0,19671229,74/06/28,"정의선, 장재훈, 이동석(각자 대표이사)",12,02-3464-1114,1101110085450
1,19990602,08/11/28,최수연,12,1588-3830,1101111707178
2,19910227,18/02/09,기우성,12,032-850-5000,1350110034038
3,19690113,75/06/11,"한종희, 경계현",12,031-200-1114,1301110006246
4,19441210,73/07/21,"송호성,최준영(각자 대표이사)",12,02-3464-1114,1101110037998
5,20201201,22/01/27,권영수,12,02-3777-1114,1101117701356
6,20110422,16/11/10,임존종보 (Rim John Chongbo),12,032-455-3114,1201110566317
7,19491015,96/12/26,"박정호, 곽노정 (각자대표)",12,031-630-4114,1344110001387
8,19700120,79/02/27,최윤호,12,031-8006-3100,1101110394174
9,20010401,01/04/25,신학철,12,02-3777-1114,1101112207995

In [21]:
df1['crno']=pd.to_numeric(df1['crno']) # Python int too large to convert to C long 오류 해결

df2['crno']=pd.to_numeric(df2['crno'])

In [22]:
# crno(동일 컬럼) 기준으로 병합
df_merge = pd.merge(df1, df2, on = 'crno', how = 'outer')
df_merge

,stock_code,name,crno,enpEstbDt,enpXchgLstgDt,enpRprFnm,enpStacMm,enpTlno
0,005380,현대자동차,1101110085450,19671229,74/06/28,"정의선, 장재훈, 이동석(각자 대표이사)",12,02-3464-1114
1,035420,NAVER,1101111707178,19990602,08/11/28,최수연,12,1588-3830
2,068270,셀트리온,1350110034038,19910227,18/02/09,기우성,12,032-850-5000
3,005930,삼성전자,1301110006246,19690113,75/06/11,"한종희, 경계현",12,031-200-1114
4,000270,기아,1101110037998,19441210,73/07/21,"송호성,최준영(각자 대표이사)",12,02-3464-1114
5,373220,LG에너지솔루션,1101117701356,20201201,22/01/27,권영수,12,02-3777-1114
6,207940,삼성바이오로직스,1201110566317,20110422,16/11/10,임존종보 (Rim John Chongbo),12,032-455-3114
7,000660,SK하이닉스,1344110001387,19491015,96/12/26,"박정호, 곽노정 (각자대표)",12,031-630-4114
8,006400,삼성SDI,1101110394174,19700120,79/02/27,최윤호,12,031-8006-3100
9,051910,LG화학,1101112207995,20010401,01/04/25,신학철,12,02-3777-1114

In [23]:
# 컬럼 순서 변경
df_merge.columns.tolist()
df_merge = df_merge[['stock_code', 'name', 'enpEstbDt', 'enpXchgLstgDt', 'enpRprFnm', 'enpStacMm', 'enpTlno']] # crno 삭제

In [24]:
# DB에 맞게 컬럼 이름 수정
# DB : code / established_date / listed_date / CEO / settlement_date / tel
# DB : 코드 / 설립일 / 상장일 / CEO / 결산월 / 전화번호
# API : / enpEstbDt / enpXchgLstgDt / enpRprFnm / enpStacMm / enpTlno

df_merge = df_merge.rename(columns={'stock_code':'code', 'enpEstbDt':'established_date', 
                        'enpXchgLstgDt':'listed_date', 'enpRprFnm':'CEO', 'enpStacMm':'settlement_date', 'enpTlno':'tel'})
df_merge

,code,name,established_date,listed_date,CEO,settlement_date,tel
0,005380,현대자동차,19671229,74/06/28,"정의선, 장재훈, 이동석(각자 대표이사)",12,02-3464-1114
1,035420,NAVER,19990602,08/11/28,최수연,12,1588-3830
2,068270,셀트리온,19910227,18/02/09,기우성,12,032-850-5000
3,005930,삼성전자,19690113,75/06/11,"한종희, 경계현",12,031-200-1114
4,000270,기아,19441210,73/07/21,"송호성,최준영(각자 대표이사)",12,02-3464-1114
5,373220,LG에너지솔루션,20201201,22/01/27,권영수,12,02-3777-1114
6,207940,삼성바이오로직스,20110422,16/11/10,임존종보 (Rim John Chongbo),12,032-455-3114
7,000660,SK하이닉스,19491015,96/12/26,"박정호, 곽노정 (각자대표)",12,031-630-4114
8,006400,삼성SDI,19700120,79/02/27,최윤호,12,031-8006-3100
9,051910,LG화학,20010401,01/04/25,신학철,12,02-3777-1114

In [25]:
# listed_date 형식 변경
df_merge['listed_date'] = df_merge['listed_date'].apply(lambda x: '-'.join(x.split('/')[::-1]))
df_merge['listed_date']

0    28-06-74
1    28-11-08
2    09-02-18
3    11-06-75
4    21-07-73
5    27-01-22
6    10-11-16
7    26-12-96
8    27-02-79
9    25-04-01
Name: listed_date, dtype: object

In [26]:
# 주식 이름 drop
df_merge = df_merge.drop(['name'], axis=1, inplace=False)
df_merge

,code,established_date,listed_date,CEO,settlement_date,tel
0,005380,19671229,28-06-74,"정의선, 장재훈, 이동석(각자 대표이사)",12,02-3464-1114
1,035420,19990602,28-11-08,최수연,12,1588-3830
2,068270,19910227,09-02-18,기우성,12,032-850-5000
3,005930,19690113,11-06-75,"한종희, 경계현",12,031-200-1114
4,000270,19441210,21-07-73,"송호성,최준영(각자 대표이사)",12,02-3464-1114
5,373220,20201201,27-01-22,권영수,12,02-3777-1114
6,207940,20110422,10-11-16,임존종보 (Rim John Chongbo),12,032-455-3114
7,000660,19491015,26-12-96,"박정호, 곽노정 (각자대표)",12,031-630-4114
8,006400,19700120,27-02-79,최윤호,12,031-8006-3100
9,051910,20010401,25-04-01,신학철,12,02-3777-1114

In [27]:
df_merge['established_date'] = pd.to_datetime(df_merge['established_date'])
df_merge['listed_date'] = pd.to_datetime(df_merge['listed_date'])

df_merge

,code,established_date,listed_date,CEO,settlement_date,tel
0,005380,1967-12-29,1974-06-28,"정의선, 장재훈, 이동석(각자 대표이사)",12,02-3464-1114
1,035420,1999-06-02,2008-11-28,최수연,12,1588-3830
2,068270,1991-02-27,2018-09-02,기우성,12,032-850-5000
3,005930,1969-01-13,1975-11-06,"한종희, 경계현",12,031-200-1114
4,000270,1944-12-10,1973-07-21,"송호성,최준영(각자 대표이사)",12,02-3464-1114
5,373220,2020-12-01,2022-01-27,권영수,12,02-3777-1114
6,207940,2011-04-22,2016-10-11,임존종보 (Rim John Chongbo),12,032-455-3114
7,000660,1949-10-15,1996-12-26,"박정호, 곽노정 (각자대표)",12,031-630-4114
8,006400,1970-01-20,1979-02-27,최윤호,12,031-8006-3100
9,051910,2001-04-01,2001-04-25,신학철,12,02-3777-1114

In [28]:
df_merge.to_csv('info_final.csv', index=False)